/* 
COLOR PALETTE CREDITS:
https://www.saasdesign.io/good-color-combinations/
*/

:root {
  --contrast-color: #003049;
  --primary-color: #d62828;
  --secondary-color: #f77f00;
  --tertiary-color: #fcbf49;
  --accent-color: #eae2b7;

  --text-color: var(--contrast-color);

  --max-width-responsive: 1350px;
  --xs-spacing: 0.25rem;
  --s-spacing: 0.5rem;
  --m-spacing: 1rem;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
}

body {
  background-color: var(--tertiary-color);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.app :is(.header, .footer) {
  padding: var(--s-spacing) var(--m-spacing);
}

.app .header {
  --text-color: var(--contrast-color);
  background-color: var(--secondary-color);

  border-bottom: thin solid var(--contrast-color);
  border-end-start-radius: var(--s-spacing);
  border-end-end-radius: var(--s-spacing);
}

.app .header .header__content {
  max-width: var(--max-width-responsive);
  margin: 0 auto;
}

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: space-around;

  overflow: hidden;
}

.app > main {
  flex: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;

  gap: var(--m-spacing);
  padding: var(--m-spacing);

  width: min(100%, calc(100% - calc(100% - var(--max-width-responsive))));
  margin: auto;
}

.app > main form {
  /* --text-color: var(--accent-color); */

  border: thin solid var(--contrast-color);
  border-radius: var(--xs-spacing);
  padding: var(--m-spacing);
  /* background-color: var(--contrast-color); */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--m-spacing);
  flex-wrap: wrap;
}

.app > main .results__container {
  border: thin solid var(--contrast-color);
  border-radius: var(--xs-spacing);
  padding: var(--m-spacing);
}

.app > main .results__content {
  font-size: 1rem;
  font-weight: normal;
}

.app > main form input[type="submit"] {
  /* --text-color: var(--accent-color); */

  border: none;
  cursor: pointer;

  background-color: var(--tertiary-color);
  padding: var(--s-spacing);
  border-radius: var(--s-spacing);

  font-weight: bold;
  text-transform: uppercase;

  border: thin;
  border: thin solid var(--contrast-color);
}

.app > main form.multi-rule__form {
  flex: 100%;
}

.app > main form :is(input[type="text"], textarea) {
  --text-color: var(--contrast-color);

  border: thin solid var(--contrast-color);
  outline: none;

  width: 100%;
  padding: var(--s-spacing);
  border-radius: var(--xs-spacing);

  font-family: "Courier New", Courier, monospace;
  background-color: var(--accent-color);
}

.app > main .multi-rule__form {
  display: flex;
  flex-direction: column;
}

.app > main .multi-rule__form .multi-rule__form__label {
  flex: 100%;
}

.app > main .multi-rule__form textarea {
  resize: none;

  height: 100%;

  scrollbar-color: var(--contrast-color) transparent;
  scrollbar-width: thin;
}

.app .footer {
  text-align: center;
  background-color: var(--secondary-color);

  border-top: thin solid var(--contrast-color);
  border-start-start-radius: var(--s-spacing);
  border-start-end-radius: var(--s-spacing);
}
